#forest2 {
    background: url(./assets/backgrounds/forest3.jpg) center center fixed;
    background-size: cover;
    text-align: center;
    padding: 300px 0;
}

#responsible {
    font-size: 100%;
    font-style: oblique;
}

#port {
    height: 275px;
    width: 275px
}

#concrete {
    background-image: url(./assets/backgrounds/concretebk.jpg);
    background: transparent;
}