#forest2 {
    background: url(./assets/backgrounds/forest3.jpg) center center fixed;
    background-size: cover;
    text-align: center;
    padding: 200px 0;
}

#responsible {
    font-size: 100%;
    font-style: oblique;
}

#port {
    height: 150px;
    width: 150px
}

#concrete {
    background-image: url(./assets/backgrounds/concretebk.jpg);
}

table {
    width: 100%
}

thead button.ascending::after {
    content: '⇩ ⇩ ⇩';
    display: inline-block;
    margin-left: 1em;
}

thead button.descending::after {
    content: ' ⇧ ⇧ ⇧';
    display: inline-block;
    margin-left: 1em;
}